h1.team_heading{
    margin-top: 8vw;
}
h2.sub{
    margin-top: 7vw;
    margin-left: 7vw;
    margin-bottom: 0;
}
div.links>a{
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bolder;
}
div.outer_container{
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}
div.profile{
    margin: 2vw auto;
    display: flex;
    box-shadow: 0.3vw 0.3vw 0vw rgb(0, 191, 255),-0.3vw -0.3vw 0vw rgb(0, 191, 255);
    width: 30vw;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0,0.5);
    border: solid 0.15vw rgb(0, 191, 255);
    font-size: 1vw;
}
div.heads{
    min-width: 45vw;
    box-shadow: 0.5vw 0.5vw 0vw rgb(0, 191, 255),-0.5vw -0.5vw 0vw rgb(0, 191, 255);
}
div.heads>img{
    width: 13vw;
}
div.patron{
    flex-direction: column;
    width: 30vw;
    padding:2vw 0;
    margin: auto;
    margin-top: 2vw;
    box-shadow: 0.5vw 0.5vw 0vw rgb(0, 191, 255),-0.5vw -0.5vw 0vw rgb(0, 191, 255);
}
div.patron>img{
    width: 15vw;
}
div.overlay{
    position: absolute;
    opacity:0;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.7);
    padding: 2.9vw 4.1vw;
}
div.overlay.heads{
    padding: 2.8vw 0vw;
    min-width: 45vw;
}
div.overlay:hover{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
span.profile{
    flex: 1;
    font-size: 1vw;
    text-align: center;
}
img.profile{
    margin: 1vw;
    border-radius: 50%;
    width: 11vw;
}
img.icon{
    width: 3vw;
    margin: 2vw;
}
