*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-left: 7px;

}
body{
    font-family: 'Outfit';
    background: linear-gradient(45deg, #000850 0%, #000320 100%), radial-gradient(100% 225% at 100% 0%, #FF6928 0%, #000000 100%), linear-gradient(225deg, #FF7A00 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 10%, #CDFFEB 35%, #009F9D 35%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
    background-blend-mode: screen, overlay, hard-light, normal;
   
}

.c{
    height: 100vh;
    display: flex;
    align-items: center;
}
.cl{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}
.left-title h2{
    font-weight: 600;
    font-family: 'Product Sans', sans-serif;
    color: rgb(228, 243, 243);
    font-size: 40px;
    margin-bottom: 5px;
    
}
.left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: rgb(243, 232, 252);
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-input{
    width: 300px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 40px;
    font-family: 'Product Sans', sans-serif;
    background-color: transparent;
    border: 2px solid #ffffff;


}
.left-title textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 10px;
    

}
.contact-input:focus{
    border: 2px solid rgb(168, 225, 255);
    color: ivory;

}
.contact-input::placeholder{
    color: rgb(193, 247, 252);
}

.cl button{
    display:flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    background:rgb(221, 60, 20);
    font-family: 'Product Sans', sans-serif;
    
    
}
@media (max-width:800px){
    .contact-inputs{
        width: 80vw;

    }
    .contact-right{
        display: none;
    }
}